body{
    background: url("../images/8e450c61f6fb3ae15870ddef8af1aacc_original.jpg");
    background-repeat: no-repeat;
    background-size:1300px 630px;
    color: black;
}

#test-box1 {
  border: 2px solid red;
  padding: 6px;
  margin: 20px;
  width:300px;
  background-color: yellow;
  float: left;
}
#test-box2 {
  border: 2px solid red;
  padding: 6px;
  margin: 20px;
  width:300px;
  background-color: yellow;
  float:right;
  }

  body {
    position: relative;
}


#status1 {
    top: 5rem;
		left: 50%;
		transform: translateX(%);
    min-width: 200px;
    margin: 0;
}

#status2 {
  top: 5rem;
  left: 50%;
  transform: translateX(%);
  min-width: 200px;
  margin: 0;
}
.dice {
    width: 32px;
    background-color: lightcoral;
    border: 1px solid black;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
}

.dice-roll {
    cursor: pointer;
    text-transform: capitalize;
}

  